.root {
    -fx-background-color: #f1f1f1;
}

.table-view {
    -fx-background-color: #b0b0b0;
    -fx-border-color: #5d5d5d;
}

.table-view .column-header {
    -fx-background-color: #f8f8f8;
    -fx-text-fill: #fcfcfc;
}

.button {
    -fx-background-radius: 0;
    -fx-text-fill: #fcfcfc;
    -fx-background-color: #006fff;
    -fx-background-radius: 2;
}